<div class="container">
    <div class="main">
        <div class="add-user">
            <a href="/" class="add-link">Go back <span class="user-icon"><i class="fas fa-angle-left"></i></i></span></a>
        </div>
        <form action="/api/tweetuser" method="POST" class="form">
            <label>First</label>
            <br />
            <input type="text" placeholder="enter first name" class="input-field" value="" name="first" />
            <br />
            <label>Last</label>
            <br />
            <input type="text" placeholder="enter last email" class="input-field" value="" name="last" />
            <br />
            <label>Handle</label>
            <br />
            <input type="text" placeholder="enter your tweeter handle" class="input-field" value="" name="handle" />
            <br />
            <button class="btn" type="submit">Save</button>
        </form>
    </div>
</div>