<nav>
    <div class="container">
        <div class="nav-content">
            <div class="brand">
                <h1>users</h1>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="burger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</nav>